.aprt-box {
  margin-bottom: 10px;

  .top-line {
    background-color: $smoke;
    border-radius: 3px;
    position: relative;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline-block;

      li {
        display: inline-block;
        padding: 15px 20px 15px 17px;
        border-right: 3px solid #ffffff;
        position: relative;
        line-height: 1;
        font-weight: 500;
        font-size: em(18px);
        color: #212121;
        text-align: center;

        .aprt-color {
          width: 27px;
          height: 27px;
          border-radius: 15px;
          display: inline-block;
          position: relative;
          top: 7px;
        }

        &:last-child {
          padding: 4px 20px 15px 17px;
        }

        &:first-child {
          width: 90px;
        }

        &:nth-child(2) {
          width: 106px;
        }

        &:nth-child(3) {
          width: 132px;
        }

        &:nth-child(4) {
          width: 125px;
        }
      }
    }

    .material-icons {
      position: absolute;
      width: 40px;
      top: 5px;
      right: 10px;
      font-size: em(40px);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .bottom-line {
    background-color: $smoke;
    border-top: 3px solid #ffffff;
    border-radius: 3px;
    padding: 15px;
    display: none;

    .gallery {
      overflow: hidden;
      max-height: 325px;
    }

    .form {
      background-color: #ffffff;
      padding: 15px 15px 0 15px;

      h3 {
        font-family: $roboto-slab;
        font-weight: $bold;
        color: $dark;
        font-size: em(26px);
        line-height: 1;
      }

      p {
        font-size: em(20px);
        line-height: 1.3;
        margin-bottom: 20px;
        color: #212121;
      }

      input, textarea {
        display: block;
        width: 100%;
        border: none;
        background-color: $gray;
        margin-bottom: 15px;
        padding: 6px 10px;
        border-radius: 3px;
      }

      button {
        display: inline-block;
        background-color: $red;
        border-radius: 3px;
        color: #ffffff;
        font-size: em(19px);
        padding: 7px 52px;
        box-shadow: 0 3px 0 0 lighten($red, 10%);
        position: relative;
        border: none;
        margin-bottom: 15px;

        &:hover {
          text-decoration: none;
          box-shadow: none;
          top: 3px;
        }
      }

      .position-div button {
        background-color: $gray;
        color: $dark;
        padding: 6px 31px;
        box-shadow: none;
        border: 1px solid $red;

        &:hover {
          top: 0;
          cursor: pointer;
        }
      }
    }
  }
}

.raduzhnyj4-kv .aprt-box .top-line ul li:last-child {
  border-right: none;
}

.main-filter__results {
  width: 100%;
}

.apartments-page__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $white;
    pointer-events: none;
  }
}

.apartments-page__apartment {
  display: block;
  background-color: $white;
  padding: 25px 20px 20px;
  width: calc(100% / 4);
  border-bottom: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  text-decoration: none;
  outline: none;

  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }

  &:hover .apartments-page__apartment-price,
  &:focus .apartments-page__apartment-price {
    color: $red;
  }

  &:hover .apartments-page__apartment-name,
  &:focus .apartments-page__apartment-name {
    color: $red;
  }

  &--disabled > * {
    opacity: 0.3;
  }

  &:nth-child(4n) {
    border-right: none;
  }
}

.apartments-page__apartment-img-box {
  width: 100%;
  height: 164px;
  margin-bottom: 25px;
  display: block;
}

.apartments-page__apartment-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apartments-page__apartment-name {
  font-family: $open-sans;
  font-weight: $semibold;
  color: $dark;
  margin: 0 0 5px;
  font-size: 16px;
  transition: .25s color ease;
}

.apartments-page__apartment-floor {
  font-family: $open-sans;
  font-weight: $regular;
  color: #A9A9A9;
  margin: 0 0 5px;
  font-size: 16px;
}

.apartments-page__apartment-number {
  font-family: $open-sans;
  font-weight: $regular;
  color: #A9A9A9;
  margin: 0 0 15px;
  font-size: 16px;
}

.apartments-page__apartment-price {
  font-family: $open-sans;
  font-weight: $semibold;
  color: $dark;
  margin: 0;
  font-size: 20px;
  transition: .25s color ease;
}

.apartments-page__apartment-mark {
  display: block;
  padding: 6px 15px;
  border-radius: 4px;
  background-color: $white;
  font-family: $open-sans;
  font-weight: $semibold;
  color: $dark;
  margin: 0;
  font-size: 12px;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;

  &--yellow {
    background-color: #FFF4CB;
  }
}
